*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style-type: none;	
}
img{
	border: none;	
}
a{
	text-decoration: none;
}
#template_holder {
    margin-top: 1%;
}
.wrapper{
    background-color: #C7EDFC;
	font-family: caption;
    margin: 0 auto;
    max-width: 990px;
    overflow: hidden;
    width: 100%;
}
.logo > img {
    margin-left: 2%
}
.topmenu {
    overflow: hidden;
}
.topmenu > ul {
    float: right;
    width: 46%;
}
.topmenu ul li a {
    color: #000;
    float: left;
    font-family: caption;
    font-size: 25px;
    margin: 0 10px;
}
.topmenu ul li a:hover{
	color: #000;
}
.title{
    background-color: #C7EDFC;
    border-top: 5px solid #e3e3e3;
    color: #454545;
    font-size: 20px;
    text-align: center;
}
section .wrapper {
    background-color: #e3e3e3;
}
.gallery {
    margin-top: 1%;
    text-align: center;
}
.gallery > img {
    max-width: 350px;
    width: 95%;
}
.cross {
    background-color: #99ccff;
    border: 3px double #000;
    padding: 1%;
    text-align: center;
}
.cross p {
    font-size: 30px;
}
.des_content {
    padding: 1%;
}
.des_content > h2 {
    background-color: #C7EDFC;
    color: #454545;
    font-style: italic;
    font-weight: normal;
    margin: 3% 0 1%;
    text-align: center;
}
.des_content ul li {
    list-style-type: unset;
}
.p_content {
    float: left;
    width: 48.7%;
}
.p_content h3 {
    background-color: #C7EDFC;
    color: #454545;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1%;
    padding: 1%;
    text-align: center;
}
.p_content ul {
    margin-left: 10%;
}
.p_content ul li {
    font-family: arial;
    font-size: 13px;
    line-height: 20px;
    list-style-type: unset;
}
.p_div {
    overflow: hidden;
}
.p_content:last-child {
	margin-left: 2%;
}
.p_content > p {
    padding: 2%;
    text-align: justify;
}
.p_holder > p {
    margin-top: 3%;
    text-align: center;
}
footer {
    background-color: #C7EDFC;
    color: #454545;
    margin-top: 2%;
    padding: 5% 0;
    text-align: center;
}
footer h3 {
    font-size: 44px;
    font-style: italic;
    margin-bottom: 3%;
}